/* CSS declarations go here */
.scores {
  height: 20px;
}

.nav .round.finished {
  background-color: #DDD;
}

.potential a.score {
  display: block;
  float: left;
  width: 30%;
  margin: 0;
  padding: 5% 0;
}

.table td, .table th {
  padding: 2px;
  text-align: center;
}

.table th {
  border-bottom: 1px solid #aaa;
}

.table .head {
  border-right: 1px solid #aaa;
  font-style: italic;
}

.table .divider {
  padding: 0;
  height: 1px;
  background-color: #aaa;
}

.container-fluid {
  padding: 0;
  margin-bottom: 20px;
}